h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  font-family: 'Lora', serif;
  text-align: center;
}

ul{
  list-style-type: none;
}

.dropdown li.selected{
    color: cyan;
    display: inherit;
}

.dropdown li.optionTitle{
  display: inherit;
}

.dropdown{
  cursor: pointer;
}

.open li{
  display: none;
}

@import "styles/products";
