h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  font-family: 'Lora', serif;
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 0;
}

h1 {
    background: black;
    color: white;
}

.dropdown li.selected, .price{
    color: #e36e3a;
    display: inherit;
}

.dropdown li.optionTitle{
  opacity: .5;
  display: inherit;
}


.closed li.optionTitle:after {
    content: " ▾";
}

li.optionTitle:after {
    content: " ▴";
}

li.option:hover{
  background: black;
  color: white;
}

.dropdown{
  cursor: pointer;
}

.closed li{
  display: none;
}

ul.ProductList {
    border-left: grey solid 1px;
}

img{
  width: 100%;
}

@import "styles/products";
